@using System;
@using Shelter.Shared;
@using System.Collections.Generic;
@using Shelter.Mvc.Models;

<p>
Are you sure you want to delete? <em>@Model.Name</em>
</p>

<form method="post" asp-controller="Shelter" asp-action="DoDelete">
	<input type="submit" value="Delete">
</form>