@using System;
@using Shelter.Shared;
@using System.Collections.Generic;
@using Shelter.Mvc.Models;

<form method="post" asp-controller="Shelter" asp-action="DoDelete">
	
	<input type="submit" value="Delete">
</form>