@model Shelter.Shared.Animal;

@{
      ViewData["Title"] = Model.Name;
}

<p>Are you sure you want to delete? <em>@Model.Name</em></p>

<form method="post" asp-controller="Shelter" asp-action="DoDelete">
	<input asp-for="Id" type="hidden"><br>
	<input type="submit" value="Delete">
</form>