@using System;
@using Shelter.Shared;
@using System.Collections.Generic;
@using Shelter.Mvc.Models;

<p>
Are you sure you want to delete?
</p>

<form method="post" asp-controller="Shelter" asp-action="Delete">
	<input type="submit" value="delete" asp-for-id="1">
</form>