@using System;
@using Shelter.Shared;
@using System.Collections.Generic;
@using Shelter.Mvc.Models;

@foreach (var item in Model.Animals)
{
	<a href="./@item.Id"> Name: @item.Name </a>
	<a asp-controller="Beer" asp-action="Detail" asp-route-id=@item.Id>Detail</a>
	<a asp-controller="Shelter" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
}