@using System;
@using Shelter.Shared;
@using System.Collections.Generic;
@using Shelter.Mvc.Models;

@foreach (var item in Model.Animals)
{
	
	<a asp-controller="Shelter" asp-action="Detail" asp-route-id=@item.Id>@item.Name</a>
	<a asp-controller="Shelter" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
	<br><br>
}