@using System;
@using Shelter.Shared;
@using System.Collections.Generic;
@using Shelter.Mvc.Models
@model Shelter.Mvc.Models.AnimalViewModel


@foreach (var item in Model.Animals)
{
  <p> Name: @item.Name </p>
}